<form [formGroup]="productoForm" (ngSubmit)="agregarProducto()" class="container mt-4">
  <h3>Agregar Producto</h3>
  <div class="row mb-3">
    <div class="col">
      <label for="codigo" class="form-label">Código del Producto:</label>
      <input type="text" id="codigo" class="form-control" formControlName="codigo" required>
    </div>
    <div class="col">
      <label for="nombre" class="form-label">Nombre del Producto:</label>
      <input type="text" id="nombre" class="form-control" formControlName="nombre" required>
    </div>
  </div>

  <div class="row mb-3">
    <div class="col">
      <label for="tipo" class="form-label">Tipo del Producto:</label>
      <select id="tipo" class="form-select" formControlName="tipo" required>
        <option value="electronico">Electrónico</option>
        <option value="ropa">Ropa</option>
        <option value="juguetes">Juguete</option>
        <option value="alimentos">Alimentos</option>
      </select>
    </div>
    <div class="col">
      <label for="precio" class="form-label">Precio:</label>
      <input type="number" id="precio" class="form-control" formControlName="precio" required>
    </div>
    <div class="col">
      <label for="cantidad" class="form-label">Cantidad:</label>
      <input type="number" id="cantidad" class="form-control" formControlName="cantidad" required>
    </div>
  </div>

  <button type="submit" class="btn btn-primary">Agregar Producto</button>
</form>

<div class="container mt-4">
  <h3>Lista de Productos</h3>
  <table class="table">
    <thead>
      <tr>
        <th>Código y Nombre</th>
        <th>Tipo</th>
        <th>Precio</th>
        <th>Cantidad</th>
        <th>Subtotal</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let producto of productos">
        <td>{{ producto.codigo }} - {{ producto.nombre }}</td>
        <td>{{ producto.tipo }}</td>
        <td>{{ producto.precio }}</td>
        <td>{{ producto.cantidad }}</td>
        <td>{{ producto.precio * producto.cantidad }}</td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <td colspan="3"></td>
        <td><strong>Valor Total:</strong></td>
        <td><strong>${{ calcularValorTotal() }}</strong></td>
      </tr>
    </tfoot>
  </table>

  <p class="mb-2">Cantidad de Productos: {{ productos.length }}</p>
</div>
